################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThatConference2019.Fn/v16
/.vs
/ThatConference.Fn.Tests/bin/Debug/netcoreapp2.2
/ThatConference.Fn.Tests/obj
